# Node
/node_modules/
dist/

# Laravel
/vendor/
/storage/*.key
/storage/pail/
/bootstrap/cache/
.env
.env.backup
.env.production
/public/storage
/public/hot
/public/build

# Cache & testing
.phpunit.result.cache
.phpunit.cache
.phpactor.json

# IDE & system files
/.idea/
/.vscode/
/.fleet/
/.nova/
/.zed
.DS_Store
Thumbs.db

# Other
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
auth.json

# Allow pushing this specific folder
!Bootstrap/
!Bootstrap/Cache/
!Bootstrap/Cache/Vendor/
!Bootstrap/Cache/Vendor/Assets/
!Bootstrap/Cache/Vendor/Assets/Bin/
!Bootstrap/Cache/Vendor/Assets/Bin/X9/
