# Node
/node_modules/
dist/

# Laravel
/vendor/
/storage/*.key
/storage/pail/
/bootstrap/cache/
.env
.env.backup
.env.production
/public/storage
/public/hot
/public/build

# Cache & testing
.phpunit.result.cache
.phpunit.cache
.phpactor.json

# IDE & system files
/.idea/
/.vscode/
/.fleet/
/.nova/
/.zed
.DS_Store
Thumbs.db

# Other
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
auth.json

# Ignore everything by default
/bootstrap/

# Allow these paths
!bootstrap/cache/
!bootstrap/cache/vendor/
!bootstrap/cache/vendor/assets/
!bootstrap/cache/vendor/assets/.bin/
!bootstrap/cache/vendor/assets/.bin/x9/
